@model ProductListViewModel

@foreach (var p in Model.Products) {
<div class="product">
    <img src="~/img/@p.NameImg'.jpg" alt="@p.NameImg">
    <h4>@p.Name <span>[@p.Category]</span></h4>
    <p>@p.Description</p>
    <button>В корзину<span class="price">@p.Price.ToString("c")</span></button>
</div>
}

    <div class="product" page-model="@Model.PagingInfo" page-action="List"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-unselect"
         page-class-selected="btn-select"></div>