@model CartIndexViewModel
<div class="cart">
    <h2>Ваши покупки</h2>
    <table>
        <thead>
            <tr>
                <th>Игра</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итоговая цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
            <tr>
                <td>@line.Product.Name</td>
                <td>@line.Product.Price.ToString("c")</td>
                <td>x @line.Quantity</td>
                <td>
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td>
                    <form asp-controller="Cart" asp-action="RemoveToCart" method="post">
                        <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                        <input type="hidden" asp-for="@Model.ReturnUrl" vale="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-cart">Удалить</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Сумма к оплате:</td>
                <td colspan="2">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
    <div>
        <a href="@Model.ReturnUrl" class="btn btn-cart">Продолжить покупку</a>
        <a class="btn btn-cart" asp-controller="Order" asp-action="Checkout">Оформить заказ</a>
    </div>
</div>
